.projectCard {
  align-items: center;
  justify-content: center;
  width: 300px;
  height: max-content;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 #000;
  border-radius: 10px;
}

.cardTitle {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cardBody {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.CardImg {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.AboutUsProjectCardImgStyle {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}
